@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto Mono', monospace, sans-serif;
    background-image: url(/resources/glen-jackson-mzZVGFfMOkA-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    font-weight: normal;
    margin: 1rem;
    color:red;
}

.numbers {
    font-size: 2.5rem;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: inherit;
}

.countdown-container {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
}

.time-box {
    text-align: center;
    width: 100px;
    margin-right: 2rem;
}

.time-box span{
    font-size: 1.5rem;
    color: red;
}

.numbers {
    font-size: 3rem;
    font-weight: bold;
}

@media only screen and (max-width: 760px) {
    h1 {
        font-size: 2.5rem;
    }

    .numbers {
        font-size: 2rem;
    }

    .time-box span {
        font-size: 1rem;
    }
}